.static-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/apartments/1.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure it stays behind other content */
  }