@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* margin: auto; */
  font-family: "montserrat";
  --bck-color: #ffffff;
  --primary-color: #0a2838;
  --secondary-color: #888888;
  --tertiary-color: #f1f3f8;
  --text-color: #7f8087;
  --brand-color: #f6ce3e;
  --brandD-color: #183136;
  --brand2-color: #000;
  --dark-color: #7c7c7c;
}

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #000;
  max-width: 2560px;
  margin: auto;
  overflow-x: hidden;
}
* {
  font-family: "montserrat";
}

@font-face {
  font-family: "montserrat";
  src: url("/assets/fonts/montserrat.otf");
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  font-family: 'montserrat';
}
.circe {
  font-family: 'circe';
}
.swiper-pagination-bullet {
  background: var(--brand2-color) !important;
}
.transition-nav {
  transition: all 0.3s ease;
}

.rent-class {
  fill: var(--brand2-color);
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 0.5;
  stroke: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 1px;
  outline: none;
  width: 100%;
}

.parking-reserved {
  fill: #ff7b00;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 0.5;
  stroke: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 1px;
  outline: none;
  width: 100%;
}

.reserved {
  fill: #ff7b00;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 0.5;
  stroke: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 1px;
  outline: none;
  width: 100%;
}

.st0 {
  fill: #61ce709c;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 0.5;
  stroke: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 1px;
  outline: none;
  width: 100%;
}
.cm0 {
  fill: #d8b266;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 0.5;
  stroke: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 1px;
  outline: none;
  width: 100%;
}

.st2 {
  fill: #61ce709c;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 0.5;
  stroke: white;
  justify-content: center;
  align-items: center;
  display: flex;
  /* stroke-width: 1px; */
  outline: none;
  width: 100%;
}

.st2:hover {
  fill: #164d16ea;
  opacity: 0.9;
}

.st0:hover {
  fill: #164d16ea;
  opacity: 0.8;
}
.cm0:hover {
  fill: #d8b266;
  opacity: 0.8;
}

.st1 {
  fill: #d16161;
  opacity: 0.5;
  stroke-width: 1px;
  stroke: white;
}

.st3 {
  fill: transparent;
  stroke-width: 1px;
  stroke: white;
}

.ft0 {
  fill: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 0.5;
  stroke: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 1px;
  outline: none;
  width: 100%;
}

.ft0:hover {
  fill: #f6ce3e7f;
  opacity: 0.6;
}

.g1 {
  fill: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease 0s;
  opacity: 0.2;
  stroke: #1d1d3a;
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 2px;
  outline: none;
  width: 100%;
}

.g1:hover {
  fill: #1d1d3a;
  opacity: 0.6;
}

.filter-input::placeholder {
  color: white;
}

select {
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
  cursor: pointer;
}
option {
  background-color: var(--brand-color);
  color: white;
  cursor: pointer;
}

/* Custom dropdown styling */
select:active,
select:focus {
  border: 1px solid var(--brand2-color);
}
.available {
  /* fill: #0e37524d; */
  fill: #119b244d;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease 0s;
  opacity: 1;
  stroke: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  stroke-width: 1px;
  outline: none;
  width: 100%;
}

.available:hover {
  /* fill: #0E3752; */
  fill: #10771ea2;
  opacity: 0.8;
}

.sold {
  fill: #8b0000;
  opacity: 0.5;
  stroke-width: 1px;
  stroke: white;
}